[workspace]

members = [
    "backend/api",
    "video/edge",
    "video/ingest",
    "video/transcoder",
    "video/bytesio",
    "video/container/flv",
    "video/container/mp4",
    "video/codec/h264",
    "video/codec/h265",
    "video/codec/av1",
    "video/codec/aac",
    "video/protocol/rtmp",
    "video/transmuxer",
    "video/utils/amf0",
    "video/utils/exp_golomb",
    "common",
    "config/config",
    "config/config_derive",
    "config/config_test"
]

exclude = [
    "frontend/player",
]

[patch.crates-io]
fred = { git = "https://github.com/ScuffleTV/fred.rs" }
tracing-log = { git = "https://github.com/ScuffleTV/tracing" }
tracing-subscriber = { git = "https://github.com/ScuffleTV/tracing" }
