@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;500;700;900&family=Comfortaa:wght@300;400;500;700&family=Poppins:wght@100;200;300;400;500;700;900&display=swap");
@import "./variables.scss";

h1,
h2 {
	margin: 0;
}

$scrollBarColor: #606364;
$scrollBarBgColor: #0f1314;

body {
	margin: 0;
	background-color: $bgColor;
	color: white;
	font-family: "Poppins", sans-serif;
	max-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: overlay;
	&.no-overflow {
		overflow: hidden;
	}
}

* {
	scrollbar-color: $scrollBarColor $scrollBarBgColor;
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	width: 0.25rem;
}

*::-webkit-scrollbar-track {
	background: $scrollBarBgColor;
}

*::-webkit-scrollbar-thumb {
	background: $scrollBarColor;
}

* {
	box-sizing: border-box;
}

a {
	color: #5865f2;
	text-decoration: none;
	transition: color 0.1s ease-in-out;

	&:hover {
		color: #7289da;
	}
}
