$topNavHeight: 4rem;
$sideNavWidth: 16rem;
$chatroomWidth: 25rem;

$primaryColor: #ff5a39;
$primaryColorLight: #f47e66;
$primaryColorDark: #8d3b2a;
$liveColor: #ff3e3e;

$textColorDark: #585858;
$textColorLight: #a0a0a0;
$textColorLighter: #cbcbcb;
$textColor: white;

$bgColor: #1b1b1b;
$bgColor2: #151515;
$bgColorLight: #252525;
$borderColor: #cccccc20;

/* Form Colors */
$successColor: #61ea4b;
$successColorDark: #3e9c3e;
$errorColor: red;
$errorColorDark: #a03e3e;
$warningColor: #ff8c00;
$warningColorDark: #ad7033;
$loadingColor: #b7e779;

$sansFont: "Inter", sans-serif;
$monoFont: "IBM Plex Mono", monospace;
