$topNavHeight: 4rem;
$sideNavWidth: 16rem;
$chatroomWidth: 25rem;
$bgColor: #1b1b1b;
$bgColor2: #151515;
$borderColor: #cccccc20;

$sansFont: "Inter", sans-serif;
$monoFont: "IBM Plex Mono", monospace;
