@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&display=swap");
@import "./variables.scss";

h1,
h2 {
	margin: 0;
}

$scrollBarColor: #606364;
$scrollBarBgColor: #0f1314;

button {
	font-family: inherit;
	cursor: pointer;
	border: none;
	font: inherit;
	background: none;
}

.button {
	cursor: pointer;
	transition:
		color 0.2s,
		filter 0.2s,
		border-color 0.2s;
	font: inherit;
	border: 1px solid $borderColor;
	border-radius: 0.4rem;
	text-decoration: none;

	&.primary {
		background-color: white;
		color: black;

		&:hover:not(:disabled),
		&:focus-visible:not(:disabled) {
			filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
		}

		&:disabled {
			cursor: not-allowed;
		}
	}

	&.secondary {
		color: $textColorLight;
		background-color: $bgColor2;

		&:hover,
		&:focus-visible {
			color: $textColor;
			border-color: white;
		}
	}
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
