@import "./variables.scss";

.input {
	margin-top: 0.5rem;
	background-color: $bgColor2;
	border: $borderColor solid 1px;
	border-radius: 0.5rem;
}

.button {
	padding: 0.5rem 1.5rem;
	font-weight: 500;
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	&.secondary {
		color: $textColor;
	}

	&:disabled {
		opacity: 0.5;
	}
}

.input.big {
	padding: 1.5rem 2rem;
	display: flex;
	align-items: center;
	gap: 2rem;

	& > .buttons {
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
}
