version: "3.1"

name: "db-scuffle-dev"

services:
  mongo:
    image: mongo:latest
    pull_policy: "always"
    ports:
      - "27111:27017"
    volumes:
      - mongo:/data/db

  nats:
    image: ghcr.io/scuffletv/ci/nats:latest
    pull_policy: "always"
    ports:
      - "127.0.0.1:4222:4222"
      - "127.0.0.1:8222:8222"
      - "127.0.0.1:6222:6222"
    volumes:
      - nats:/data
    command:
      - --jetstream
      - --store_dir=/data

  minio:
    image: ghcr.io/scuffletv/ci/minio:latest
    pull_policy: "always"
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001"
    environment:
      - "MINIO_ACCESS_KEY=minioadmin"
      - "MINIO_SECRET_KEY=minioadmin"
    volumes:
      - minio:/data
    command: server /data --console-address ":9001"

  createbuckets:
    image: minio/mc:latest
    pull_policy: "always"
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      set -eux;
      /usr/bin/mc config host add myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/image-processor;
      /usr/bin/mc anonymous set download myminio/image-processor;
      exit 0;
      "

volumes:
  nats:
  minio:
  mongo:
