[package]
name = "transcoder"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
tracing = "0"
native-tls = "0"
tokio-native-tls = "0"
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
hyper = { version = "0", features = ["full"] }
tonic = { version = "0", features = ["tls"] }
chrono = { version = "0", default-features = false, features = ["serde"] }
prost = "0"
async-stream = "0"
futures = "0"
futures-util = "0"
bytes = "1"
async-trait = "0"
fred = { version = "6", features = ["enable-native-tls", "sentinel-client", "sentinel-auth", "subscriber-client"] }
url-parse = "1"
nix = "0"
sha2 = "0"
tokio-util = "0"
tokio-stream = "0"
lapin = { version = "2.0.3", features = ["native-tls"] }

mp4 = { path = "../container/mp4" }
common = { path = "../../common" }
bytesio = { path = "../bytesio" }

[build-dependencies]
tonic-build = "0"
prost-build = "0"
